@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  .crypto-list {
    height: 36rem;
  }

  body {
  font-family: "Lobster Two", cursive;
  font-family: "Poppins", sans-serif;
}

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888; /* Background color of the thumb */
  border-radius: 6px; /* Add rounded corners to the thumb */
}

/* Add hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change color on hover */
}
